name: Docker Scout CVE Scanning

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  security-events: write
  pull-requests: write

jobs:
  docker-scout-cve-scan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - 'almosega/minikube:patched'
          - 'almosega/open-webui:patched'
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Pull Docker image
        run: docker pull ${{ matrix.image }} || true
      
      - name: Run Docker Scout
        run: |
          docker scout cves ${{ matrix.image }} --format sarif > sarif.json || true
      
      - name: Upload SARIF results
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: sarif.json
          category: docker-scout-${{ matrix.image }}
