name: Docker Scout CVE Scanning

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  security-events: write
  pull-requests: write

jobs:
  docker-scout-cve-scan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - 'nginx:latest'
          - 'ubuntu:latest'
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Docker Scout Scan
        uses: docker/scout-action@v1
        with:
          command: cves
          image: ${{ matrix.image }}
          sarif-file: sarif-${{ strategy.job-index }}.json
          summary: true
